<%- layout("layouts/boilerplate") %>

<style>
  a .fa-facebook {
    color: #4267b2; /* Facebook's official blue */
    font-size: 30px;
    text-decoration: none !important;
    margin-right: 1rem;
  }
  .anchor a {
    text-decoration: none;
    font-size: 20px;
  }
  a .fa-square-instagram {
    color: #c13584; /* Instagram's official color */
    font-size: 30px;
    text-decoration: none;
    margin-right: 1rem;
  }

  a .fa-linkedin {
    color: #0077b5; /* LinkedIn's official color */
    font-size: 30px;
    text-decoration: none;
    margin-right: 1rem;
  }
  a .fa-envelope {
    color: #8251dc; /* Choose your preferred color */
    font-size: 28px;
    text-decoration: none;
  }
  .contact {
    text-align: center;
  }
  .contactpara{
    font-size: 20px;
  }
  .ahover a:hover{
color: rgb(76, 85, 85);
cursor: pointer;
  }
</style>
<body>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10 anchor">
      <h4 class="mb-5 contact">
        I’d love to hear from you!<br>
      </h4>
      <p class="contactpara contact"> Whether you have a question, feedback, or
        just want to connect, feel free to drop a message. I'm here to help!</p>
      <hr />
      <div class="ahover">
        <h4 class="mt-5">Connection through Soial media</h4>
        <p> <a
            class="anchor"
            href="https://www.facebook.com/poushali.sikdar.9/"
            target="_blank"
            ><i class="fa-brands fa-facebook" aria-hidden="true"></i>Find me on
            Facebook</a
          >
          <br />
          <a
            class="anchor"
            href="https://www.instagram.com/poushali.sikdar"
            target="_blank"
            ><i class="fa-brands fa-square-instagram"></i>Connect on Instagram</a
          >
          <br />
          <a
            class="anchor mt-5"
            href="https://www.linkedin.com/in/poushali-sikdar-b9175b24b/"
            target="_blank"
            ><i class="fa-brands fa-linkedin"></i>Connect on LinkedIn</a
          ><br />
  
          <a class="anchor" href="mailto:poushalisikdar4@gmail.com"
            ><i class="fa-solid fa-envelope"></i>Drop your thoughts</a
          ></p>
       
      </div>
    </div>
    <div class="col-1"></div>
  </div>
</body>
